*{
  box-sizing: border-box;
  margin: 0;
  background: white;
}
}
nav {
  align-items: center;
  font-family: 'Poppins', sans-serif;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 4rem;
  position: fixed;
  z-index: 10;
  opacity: 1.9;
}
nav img:hover{
  transform: scale(1.1);
}
#imglogo{
  width: 100%;
  height: 100%;
  max-width: 150px;
  margin-top: 0px;
  padding: 0px;
}
li a:hover {
opacity: 8;
transform: scale(1.1);
color: red;
}
.nav-links{
display: flex;
width: 45%;
max-width: 100%;
height: auto;
float: right;
justify-content: space-around;
margin-right: 30px;
}

.nav-links li{
list-style: none;
padding-bottom: 30px;
margin-top: -48px;
}
.nav-links a{
color: gray;
letter-spacing: 2px;
text-decoration: none;
font-weight: bolder;
font-size: 16px;
}
ul {
display: flex;
padding: 0px;
justify-content: space-around;
list-style: none;
text-transform: uppercase;
width: 100%;
}
.client div{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.client-grid img{
}
