@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,300);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

*{
  box-sizing: border-box;
  margin: 0;
}
nav {
  align-items: center;
  font-family: 'Poppins', sans-serif;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 4rem;
  position: fixed;
  z-index: 10;
  opacity: 1.9;
}
nav img:hover{
  transform: scale(1.1);
}
#imglogo{
  width: 100%;
  height: 100%;
  max-width: 150px;
  margin-top: 0px;
  padding: 0px;
}
li a:hover {
opacity: 8;
transform: scale(1.1);
color: red;
}
.nav-links{
display: flex;
width: 45%;
max-width: 100%;
height: auto;
float: right;
justify-content: space-around;
margin-right: 30px;
}

.nav-links li{
list-style: none;
padding-bottom: 30px;
margin-top: -48px;
}
.nav-links a{
color: gray;
letter-spacing: 2px;
text-decoration: none;
font-weight: bolder;
font-size: 16px;
}
ul {
display: flex;
padding: 0px;
justify-content: space-around;
list-style: none;
text-transform: uppercase;
width: 100%;
}
/*-------header-----------^-------------------*/
}
.banner{
  display: flex;
  flex-direction: column;
  margin: 0px;
  width: 100%;
  padding-top: 0px;
}
.banner #mind{
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: translate3d(0,0,0); scale(1.25);
  background: url(https://scontent.ftpf1-1.fna.fbcdn.net/v/t1.0-9/41913615_236732620345046_1555036159837470720_o.jpg?_nc_cat=108&_nc_ht=scontent.ftpf1-1.fna&oh=22b0d18f56d851a45a3067910dedeca5&oe=5D0801EF) no-repeat center center;
  background-size: cover;
  max-width: 100%;
  filter: brightness(65%);
}
.banner h1{
  ling-height: 40rem;
  text-transform: uppercase;
  text-shadow: 0 0 .3rem white;
  text-align: center;
  padding-top: 400px;
  font-family: 'Poppins', sans-serif;
  font-size: 80px;
  letter-spacing: 30px;
}
#mind{
  height: 250px;
  color: black;
  position: relative;
  overflow: hidden;
  backface-visibility: hidden;
}
/*=================banner-==========^^---====*/
.grid{
  max-width: 100%;
  height: 250vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  margin-top: 0px;
  padding-top: 0px;
}
.grid img{
  display: grid;
  max-height: 100%;
  width: 100%;
  height: 100%;
  border-radius: 1px;
  box-shadow: inset 0px 0px 40px 40px;
  filter: grayscale(100%);
}
.grid img:hover{
  transform: scale(1.02);
  transition: .4s;
  filter: grayscale(0%);
  z-index: -1;
}
/*-------image gallery------------------------------------*/
}
/*-------body-----------^-------------------*/
.mobile{
  display: none;
  cursor: pointer;
}

.mobile div{
  width:25px;
  height: 4px;
  margin: 5px;
  background-color: rgb(255,255,255);
/*--------------------------------------------------mobile nav--^---------*/
}
footer{
  margin: 30px;
  color: black;
  height: 10px;
  font-family: 'poppins';
  align-items: center;
  text-align: center;
  bottom: 0;
}
  footer h4{
    font-size: 12px;
    color: black;
    letter-spacing: 2px;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
}
footer a{
  text-decoration: none;
  color: gray;
  position: absolute;
}
/*=========button==========
}
.view-more{
text-align: center;
margin-top: 30px;
margin-bottom: 100px;
}

.butn{
  width: 20%;
  text-transform: uppercase;
  border-radius: 20px;
  line-height: 60px;
  background: black;
  color: white;
  border-color: black;
  border-width: 3px;
  font-weight: bolder;
  font-family: 'poppins';
  font-size: 20px;
}
.butn:hover{
  background: white;;
  border-color: red;
  border-width: 3px;
  color: black;
  transition-delay: .08s;
}
---------------------footer/button------------------------^-----*/
}@media screen and (max-width:1024px){
  .nav-links{
      display: flex;
      width: 0%;
      justify-content: space-between;
    }
    .nav-links li{
      list-style: none;
      justify-content: space-around;
      padding-bottom: 70px;
      padding-left: 70px;
  }
@media screen and (max-width:768px){
  body{
    overflow-x: hidden;
  }
  .nav-links{
    position: absolute;
    height: 92vh;
    top: 8vh;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
 .nav-links li{
    opacity: 0;
 }
 .mobile{
   display: block;
}
.nav-active{
  transform: translateX(0%);
}
@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
  /*-------Responsiveness-----------^-------------------*/
